---
layout: default
pagination:
  data: collections.pagedPosts
  size: 1
  alias: paged
permalink: "{% if paged.number > 1 %}page/{{ paged.number }}/{% endif %}index.html"
---

{% if author.resume %}
<div class="md:mt-7 mb-10 bg-gray-200_">
  <p
    class="text-4xl bg-gray-800 text-white p-2 max-w-3xl bg-gradient-to-r from-purple-400 via-pink-500 to-red-500"
  >
    Sitio personal y portafolio de <a href="./">Jairo Lachira</a>
  </p>
  <p class="mt-3 text-2xl py-2">
    {{ author.resume }}
  </p>
</div>
{% endif %}

<!-- Skills -->
<div class="mt-12 mb-4">
  <h3
    class="font-extrabold text-xl underline"
    style="text-underline-offset: 5px"
  >
    🧠 Habilidades:
  </h3>
</div>

<div class="flex justify-start flex-wrap">
  {% for skill in author.skills %}
  <span
    class="inline-block mx-1 mb-3 px-4 py-2 bg-gray-200 text-gray-700 font-medium rounded-full shadow-md hover:shadow-lg"
  >
    {{ skill }}
  </span>
  {% endfor %}
</div>
<!-- Skills -->

<div class="mt-12 mb-3">
  <h3
    class="font-extrabold text-xl underline"
    style="text-underline-offset: 5px"
  >
    🎉 Proyectos Destacados:
  </h3>
</div>

<div class="flex flex-wrap -mx-2">{% include "partials/post-grid.njk" %}</div>

{% if collections.posts.length > site.paginate %} {% include
"partials/paginator.njk" %} {% endif %}
